<div class="container my-5 mat-elevation-z8 p-3 rounded" >
    <h2 class="title">The Voltaire Foundation is the world leader for eighteenth-century scholarship</h2>
    <p style="text-align: justify;line-height: 200%">As a research department, our mission is to disseminate world-leading research into the Enlightenment, and to bring
        the debates of Voltaire and his contemporaries to the widest possible audience. Our newly launched Voltaire Lab
        pioneers the methodologies of digital humanities in eighteenth-century scholarship with international
        collaborations.
    
        We have been at the heart of Enlightenment scholarship for over forty years and have an international reputation for
        stimulating and disseminating the most rigorous and up-to-date research into the eighteenth century. The writings of
        Voltaire and other eighteenth-century scholars were seminal in creating the political and social systems of today.
        Enlightenment thinkers were champions of rational thought, scientific enquiry, intellectual curiosity, and the
        separation of Church and State, all of which are more relevant now than ever.
    
        We publish the definitive edition of the Complete Works of Voltaire (Œuvres complètes de Voltaire), and together
        with publishing partner Liverpool University Press, Oxford University Studies in the Enlightenment (previously
        SVEC), the foremost series devoted to Enlightenment studies with over 600 volumes published to date. The
        correspondences of several key French thinkers, including Voltaire, Rousseau, Bayle and Helvétius also feature among
        our publications. Search our publications for full details.
    
        In 2021 the Foundation will complete the final volume of Voltaire’s writings, comprising 203 volumes in total. To
        celebrate this momentous achievement, and with a view to honouring and expanding the legacy of founder Theodore
        Besterman, the Voltaire Foundation is creating a new hub for Enlightenment scholarship that will be unmatched
        worldwide.</p>
</div>

<div class="container my-3 mat-elevation-z8 p-3 rounded" >
    <h2 class="title">Voltaire Foundation Fund Board of Management</h2>
        <p>Miles Young, Warden of New College, Oxford (Chair)</p>
        <p>Eleanor Burnett, St Edmund Hall (Chair of Finance & Strategy Committee)</p>
        <p>Professor Elisabeth Décultot, University of Halle</p>
        <p>Dr Jessica Goodman, St Catherine’s College, Oxford</p>
        <p>Professor Dan Grimley (Interim Head of Humanities, Oxford)</p>
        <p>Jenny Mander, Newnham College, Cambridge</p>
        <p>Professor Christophe Martin, Sorbonne Université Paris</p>      
        <p>Dr Sarah Thomas, Harvard emerita (Deputy Chair)</p>
        <p>Professor Thomas Wynn, Durham University</p>
        <br>
        <p><i>Co-opted members</i></p>
        <p>Professor David De Roure, Wolfson College, Oxford</p>
        <p>Dr Avi Lifschitz, Magdalen College, Oxford (Academic Programme Director)</p>
        <p>Professor David Robey, Wolfson College, Oxford</p>
</div>