.title{
    text-align: center;
    color:#3F52B5;
}

.radio-class{
    display: flex;
    padding: 5px;
    padding-left: 12px;
    background-color: #F0F0F0;
    border-bottom: rgb(163, 163, 163) 1px solid;
}

.radio-class:hover{
    border-bottom: rgb(0, 0, 0) 2px solid;;
}

.radio-class .radio-select{
    display: flex;
    flex-direction: column;
}

.radio-class mat-label{
    color: rgba(0,0,0,.6);
    margin-right: 15px;
}



.radio-label label{
    margin-left: 10px;
}