<form [formGroup]="form">
    <div class="add-book container">

        <h2 class="title">Add an item</h2>
        <div>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Titre</mat-label>
                        <input matInput placeholder="Titre" formControlName="title">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Contributor</mat-label>
                        <input matInput placeholder="Contributor" formControlName="contributor">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Publisher</mat-label>
                        <input matInput placeholder="Publisher" formControlName="publisher">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Type document</mat-label>
                        <input matInput placeholder="Type document" formControlName="type_document">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Publication place</mat-label>
                        <input matInput placeholder="Publication place" formControlName="publication_place">
                    </mat-form-field>
                </div>
                <!--<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Publication date</mat-label>
                        <input matInput placeholder="Publication date" [matDatepicker]="picker"
                            formControlName="publication_date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>-->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Publication date</mat-label>
                        <input matInput placeholder="Publication date" type="number" min="1000" max="2000" minlength="4" pattern="^0[1-9]|[1-9]\d$"
                            formControlName="publication_date">
                        
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Multi volume</mat-label>
                        <mat-select placeholder="Multi volume" formControlName="multivolume" >
                            <mat-option value="1">Yes</mat-option>
                            <mat-option value="0">No</mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Volume</mat-label>
                        <input matInput type="number" min="1" placeholder="Volume" formControlName="volume">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Format</mat-label>
                        <input matInput placeholder="Format" formControlName="format">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Source</mat-label>
                        <input matInput placeholder="Source" formControlName="source">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Marginalia</mat-label>
                        <input matInput placeholder="Marginalia" formControlName="marginalia">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Binding</mat-label>
                        <input matInput placeholder="Binding" formControlName="binding">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Library</mat-label>
                        <input matInput placeholder="Library" formControlName="library">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Cote</mat-label>
                        <input matInput placeholder="Cote" formControlName="cote">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Provenance</mat-label>
                        <input matInput placeholder="Provenance" formControlName="provenance">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Ferney</mat-label>
                        <input matInput placeholder="Ferney" formControlName="ferney">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Digital Voltaire</mat-label>
                        <input matInput placeholder="Digital Voltaire" formControlName="digital_voltaire">
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>External resource</mat-label>
                        <input matInput placeholder="External resource" formControlName="external_resource">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Notes</mat-label>
                        <textarea matInput placeholder="Notes" rows="5" formControlName="notes"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <button mat-raised-button color="primary" (click)="submit()" class="mt-6">Valider</button>
    </div>
</form>