.sidenav {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 0;
    background-color: #002147;
    overflow-x: hidden;
    transition: left .5s ease-in-out;
}

.content{
    margin-left: 250px;
    transition: margin-left .5s ease-in-out;

}

.danger{
    color:white;
    background-color: #DC3545 !important;
}

.danger:hover{
    background-color: #dc3546d0;
}

.warning{
    color:black;
    background-color: #FFC107;
}

.warning:hover{
    background-color: #ffc107d0;
}

.secondary{
    background-color: #e4e2e2;
}

.secondary:hover{
    background-color: #e4e2e2d0;
}


.divBurger{
    /* display: none; */
    position: fixed;
    top: 15px;
    left: 15px;
    outline: none;
    border: none;
    cursor: pointer;
}

.burger{
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    position: relative;
    background: #727272;
    border-radius: 3px;
    z-index: 1;
}

.close-menu{
    background: none;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(155, 155, 155, 0.39);
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
   
    
  }





