<div *ngIf="pageSlice.length === 0" class="spinner"></div>
<div class="container" *ngIf="pageSlice.length != 0">
    <div class="mb-5" >
        <h2 class="title">List of books</h2>
        <!--<div class="card">
            <input matInput [(ngModel)]="book.publisher" placeholder="Search..." (input)="search($event)">
        </div>-->
        <div  class=" mat-elevation-z8 p-3 rounded" style="background: #002147;">
            <table>
                <tr class="head">
                    <th style="width: 45%; padding-left:10px">Title</th>
                    <th style="width: 20%; " >Publisher</th>
                    <th style="width: 10%;" >Publication Date</th>
                    <th style="width: 15%;">Publication Place</th>
    
                    <th style="width: 10%;" *ngIf="role === 'admin' || role === 'supervisor'">Actions</th>
                </tr>
            </table>
        </div>
        <div style="overflow-y:auto; height:55vh;" class=" mat-elevation-z8 p-3 rounded mb-2">
            <table>

                <tr *ngFor="let book of pageSlice">

                    <td class="" *ngIf="book.title.length >= 60" style="width: 45%;" >
                        {{book.title | slice:0:60}}..... 
                    </td>
                    <td class="" *ngIf="book.title.length < 60" style="width: 45%;">
                        {{book.title | slice:0:60}}.
                    </td>
                    <td class="" style="width: 20%;">
                        {{book.publisher | titlecase}}
                    </td>
                    <td class="" style="width: 10%;">
                        {{book.publication_date | titlecase}}
                    </td>
                    <td class="" style="width: 15%;">
                        {{book.publication_place}}
                    </td>

                    <td class="actions" *ngIf="role === 'admin' || role === 'supervisor'" style="width: 10%;">
                        <mat-icon (click)="updateItem(book.id)" matTooltip="edit" class="primary-btn">edit</mat-icon>
                        <mat-icon (click)="deleteBook(book.id)" matTooltip="delete" color="warn">delete</mat-icon>
                        <mat-icon (click)="showItem(book.id)" matTooltip="show" class="green-btn">visibility</mat-icon>
                    </td>
                </tr>
            </table>
        </div>

<!--*************************************************************************************-->

        
<!--*************************************************************************************-->



        <div class="my-2">
            <button *ngIf="!onAdd" mat-mini-fab style="background: #002147;" (click)="addBook()"
                matTooltip="new book">
                <mat-icon>add</mat-icon>
            </button>
           
        </div>
        <div class=" mat-elevation-z8 p-3 rounded">
            <div class="pagination">
                <div class="">
                    <mat-icon class="first-last" matTooltip="First" (click)="firstRecord($event)">first_page</mat-icon>
                    <mat-icon class="first-last" matTooltip="Last" (click)="lastRecord($event)">last_page</mat-icon>
                </div>
                <div class="">
                    <mat-paginator [length]="books.length" [pageSize]="50" [pageSizeOptions]="[50,100,150,200,250,300]"
                        (page)="onPageChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>


        <div class="msg mat-elevation-z8" *ngIf="onDelete">
            <h3 class="">Are you sur to delete this item?</h3>
            <div class="buttons">
                <button mat-raised-button color="warn" (click)="confirmDelete()">Yes</button>
                <button mat-raised-button (click)="cancelDelete()" class="primary">Cancel</button>
            </div>
        </div>
    </div>
</div>