<div>
    <div class="update-book container  mat-elevation-z8 p-3 rounded">
        <h2 *ngIf="book" class="title">Editing the book titled: <span class="book-title">{{book.title |
                slice:0:60}}...</span></h2>

       
        <!--trois select2
        
        <div class="card card-note" >
            <select 
                class="form-control" multiple="multiple"
                id="author" >
                <option *ngFor="let author of allContributors" value="{{author.id}}">{{author.last_name |
                    slice:0:100}} {{author.first_name | slice:0:100}}
                </option>
            </select>
        </div>
        <div class="card card-note ">
            <select multiple style="width:100%;" class="select2" id="translator">
                <option *ngFor="let author of allContributors" value="{{author.id}}">{{author.last_name |
                    slice:0:100}} {{author.first_name | slice:0:100}}
                </option>
            </select>
        </div>
        <div class="card card-note ">
            <select multiple style="width:100%;" class="select2" id="copyist">
                <option *ngFor="let author of allContributors" value="{{author.id}}">{{author.last_name |
                    slice:0:100}} {{author.first_name | slice:0:100}}
                </option>
            </select>
        </div>
        -->

        <div class="parent-card" *ngIf="book">
            <div class="card card-note w-100" >
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" [(ngModel)]="book.title" value="{{book.title}}"
                    (input)="valuechange($event)">
            </div>

            <div class="card card-note w-100" >
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let author of allAuthors;let indx=index;" [selectable]="selectable"
                        [removable]="removable" (removed)="removeAuthor(author)">
                        {{author.last_name | slice:0:100}} {{author.first_name | slice:0:100}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input 
                        matInput 
                        (change)="changeInputAuthor()"
                        placeholder="Authors... min 3 characters" 
                        #authorInput 
                        [formControl]="authorCtrl"
                        [matAutocomplete]="author" 
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addAuthor($event)"
                        
                        >
                </mat-chip-list>
                <mat-autocomplete
                    #author="matAutocomplete" 
                    (optionSelected)="selectedAuthor($event)">
                    <mat-option *ngFor="let author of filteredallAuthors | async" [value]="author">
                        {{author.last_name | slice:0:100}} {{author.first_name | slice:0:100}}
                    </mat-option>
                </mat-autocomplete>
            </div>

            <div class="card card-note w-100" >
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let translator of allTranslators;let indx=index;" [selectable]="selectable"
                        [removable]="removable" (removed)="removeTranslator(translator)">
                        {{translator.last_name | slice:0:100}} {{translator.first_name | slice:0:100}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input 

                        matInput 
                        placeholder="Translator...min 3 characters" 
                        #translatorInput 
                        [formControl]="translatorCtrl"
                        [matAutocomplete]="translator" 
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addTranslator($event)">
                </mat-chip-list>
                <mat-autocomplete 
                    #translator="matAutocomplete" 
                    (optionSelected)="selectedTranslator($event)">
                    <mat-option *ngFor="let translator of filteredallTranslators | async" [value]="translator">
                        {{translator.last_name | slice:0:100}} {{translator.first_name | slice:0:100}}
                    </mat-option>
                </mat-autocomplete>
            </div>
          

            <div class="card card-note w-100" >
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let copyste of allCopystes;let indx=index;" [selectable]="selectable"
                        [removable]="removable" (removed)="removeCopyste(copyste)">
                        {{copyste.last_name | slice:0:100}} {{copyste.first_name | slice:0:100}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input 
                        matInput 
                        placeholder="Copyist... min 3 characters" 
                        #copysteInput 
                        [formControl]="copysteCtrl"
                        [matAutocomplete]="copyste" 
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addCopyste($event)">
                </mat-chip-list>
                <mat-autocomplete #copyste="matAutocomplete" (optionSelected)="selectedCopyste($event)">
                    <mat-option *ngFor="let copyste of filteredallCopystes | async" [value]="copyste">
                        {{copyste.last_name | slice:0:100}} {{copyste.first_name | slice:0:100}}
                    </mat-option>
                </mat-autocomplete>
            </div>

            <div class="card card-note w-100" >
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let editor of allEditors;let indx=index;" [selectable]="selectable"
                        [removable]="removable" (removed)="removeEditor(editor)">
                        {{editor.last_name | slice:0:100}} {{editor.first_name | slice:0:100}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input 
                        matInput 
                        placeholder="Editor... min 3 characters" 
                        #editorInput 
                        [formControl]="editorCtrl"
                        [matAutocomplete]="editor" 
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addEditor($event)">
                </mat-chip-list>
                <mat-autocomplete #editor="matAutocomplete" (optionSelected)="selectedEditor($event)">
                    <mat-option *ngFor="let editor of filteredallEditors | async" [value]="editor">
                        {{editor.last_name | slice:0:100}} {{editor.first_name | slice:0:100}}
                    </mat-option>
                </mat-autocomplete>
            </div>

       

            <div class=" card">
                <mat-label>Publisher</mat-label>
                <input matInput [(ngModel)]="book.publisher" value="{{book.publisher}}">
            </div>

            <div class=" card">
                <mat-label>Publisher stated</mat-label>
                <input matInput [(ngModel)]="book.publisher_stated" value="{{book.publisher_stated}}">
            </div>


            <div class=" card">
                <mat-label>Publication place</mat-label>
                <input matInput [(ngModel)]="book.publication_place" value="{{book.publication_place}}">
            </div>
            <div class=" card stated">
                <mat-label>Publication place stated</mat-label>
                <input matInput [(ngModel)]="book.publication_place_stated" value="{{book.publication_place_stated}}">
            </div>

            <div class=" card">
                <mat-label>Publication date</mat-label>
                <!--<input matInput type="number"
                    oninput="javascript: if (this.value.length > 4) this.value = this.value.slice(0, 4);"
                    [(ngModel)]="book.publication_date" value="{{book.publication_date}}">-->
                <input 
                    matInput
                    [(ngModel)]="book.publication_date" 
                    value="{{book.publication_date}}">
            </div>
            <div class=" card stated">
                <mat-label>Publication date stated</mat-label>
                <input 
                    matInput
                    [(ngModel)]="book.publication_date_stated" 
                    value="{{book.publication_date_stated}}">
            </div>

            <!-- <div class=" card">
                    <mat-label>Media</mat-label>
                    <input matInput [(ngModel)]="book.type_document" value="{{book.type_document}}">
                </div> -->

            <div class="card">
                <mat-label>Media</mat-label>
                <mat-select [(ngModel)]="book.type_document">
                    <mat-option value="">Select Media</mat-option>
                    <mat-option value="Periodicals">Periodicals</mat-option>
                    <mat-option value="Print">Print</mat-option>
                    <mat-option value="Manuscript">Manuscript</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
            </div>

            <div class="card">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="book.status">
                    <mat-option value="">Select Status</mat-option>
                    <mat-option value="In VL">In VL</mat-option>
                    <mat-option value="Was in VL">Was in VL</mat-option>
                    <mat-option value="V involvement">V involvement</mat-option>
                    <mat-option value="Conjectural">Conjectural</mat-option>
                    <mat-option value="Never in VL">Never in VL</mat-option>
                </mat-select>
            </div>

            <div class="card">
                <mat-label>Multi Volume</mat-label>
                <mat-select [(ngModel)]="book.multivolume">
                    <mat-option value="yes">Yes</mat-option>
                    <mat-option value="no">No</mat-option>
                </mat-select>
            </div>
            <div class="card">
                <mat-label>Volumes</mat-label>
                <input matInput type="number" min="0" [(ngModel)]="book.volume" value="{{book.volume}}">
            </div>

            <div class="card">
                <mat-label>Vol Number</mat-label>
                <input matInput type="number" min="0" [(ngModel)]="book.vol_number" value="{{book.vol_number}}">
            </div>


            <div class="card">
                <mat-label>Source</mat-label>
                <input matInput [(ngModel)]="book.source" value="{{book.source}}">
            </div>
            <div class="card">
                <mat-label>Marginalia</mat-label>
                <input matInput [(ngModel)]="book.marginalia" value="{{book.marginalia}}">

            </div>



            <div class="card">
                <mat-label>Library</mat-label>
                <input matInput [(ngModel)]="book.library" value="{{book.library}}">
            </div>
            <div class="card">
                <mat-label>Shelfmark</mat-label>
                <input matInput [(ngModel)]="book.cote" value="{{book.cote}}">
            </div>
            <div class="card">
                <mat-label>Provenance</mat-label>
                <input matInput [(ngModel)]="book.provenance" value="{{book.provenance}}">
            </div>
            <div class="card">
                <mat-label>Ferney</mat-label>
                <input matInput [(ngModel)]="book.ferney" value="{{book.ferney}}">
            </div>

            <div class="card">
                <mat-label>External resource</mat-label>
                <input matInput [(ngModel)]="book.external_resource" value="{{book.external_resource}}">
            </div>

            <div class="card">
                <mat-label>Pot-Pourri</mat-label>
                <input matInput [(ngModel)]="book.pot_pourri" value="{{book.pot_pourri}}" type="number" min="0">
            </div>



            <div class="card card-note w-100">
                <mat-label>Digital Voltaire</mat-label>
                <textarea matInput [(ngModel)]="book.digital_voltaire" value="{{book.digital_voltaire}}"
                    class="w-100"></textarea>
            </div>

            <div class="card w-100">
                <mat-label>Classification</mat-label>
                <mat-select placeholder="Choose classification" multiple [(ngModel)]="descriptions">

                    <mat-optgroup *ngFor="let classification of allClassifications">
                        <mat-label><strong>{{classification.title}}</strong></mat-label>
                        <mat-option *ngFor="let class of classification.sub_titles" [value]="class">
                            {{class}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </div>

            <div class="card card-note w-100">
                <mat-label>Notes</mat-label>
                <textarea matInput [(ngModel)]="book.notes" value="{{book.notes}}" class="w-100"></textarea>
            </div>
        </div>

        <div class="d-flex justify-content-around">
            <button mat-raised-button (click)="submit()" class="mt-6 primary">Update</button>
            <button mat-raised-button color="warn" (click)="cancelUpdate()" class="mt-6">Cancel</button>
        </div>
    </div>
</div>