<div>
    <div class="update-book container  mat-elevation-z8 p-3 rounded">
        <h2 class="title">Displaying a book</h2>

        <div *ngIf="book">
            <div class="parent-card">

                <div class="card w-100">
                    <mat-label>Title</mat-label>
                    <h3>{{book.title}}</h3>
                </div>

                <!-- ##################################################"" -->
                <div class="card card-note w-100">
                    <mat-label>Contributors</mat-label>
                    <mat-chip-list>
                        <mat-chip *ngFor="let contributor of contributors" >
                            {{contributor.last_name | slice:0:100}} {{contributor.first_name | slice:0:100}} &#8594; &#160;<span style="color: red;"> {{contributor.status}}</span>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <!-- ##################################################"" -->

                <!-- <div class="card" *ngFor="let contributor of contributors, let i = index">
                    <h3>{{contributor.name }} -- {{contributor.status}}</h3>
                </div>-->


                <div class=" card">
                    <mat-label>Publisher</mat-label>
                    <h3>{{book.publisher }}</h3>
                </div>

                <div class=" card">
                    <mat-label>Publisher stated</mat-label>
                    <h3>{{book.publisher_stated }}</h3>
                </div>
                <!-- <div class=" card stated">
                    <mat-label>Publisher stated</mat-label>
                    <h3>{{book.publisher_stated }}</h3>
                </div> -->

                <div class=" card">
                    <mat-label>Publication place</mat-label>
                    <h3>{{book.publication_place }}</h3>
                </div>
                <div class=" card stated">
                    <mat-label>Publication place stated</mat-label>
                    <h3>{{book.publication_place_stated }}</h3>
                </div>
                
                <div class=" card">
                    <mat-label>Publication date</mat-label>
                    <h3>{{book.publication_date}}</h3>
                </div>
                <div class=" card stated">
                    <mat-label>Publication date stated</mat-label>
                    <h3>{{book.publication_date_stated}}</h3>
                </div>
                
                <div class=" card">
                    <mat-label>Media</mat-label>
                    <h3>{{book.type_document}}</h3>
                </div>

                <div class=" card">
                    <mat-label>Status</mat-label>
                    <h3>{{book.status}}</h3>
                </div>

                <div class="card">
                    <mat-label>Multi Volume</mat-label>
                    <h3>{{book.multivolume}}</h3>
                </div>
                <div class="card">
                    <mat-label>Volumes</mat-label>
                    <h3>{{book.volume}}</h3>
                </div>
                <div class="card">
                    <mat-label>Vol Number</mat-label>
                    <h3>{{book.vol_number}}</h3>
                </div>
               
                <div class="card">
                    <mat-label>Source</mat-label>
                    <h3>{{book.source}}</h3>
                </div>

                <div class="card">
                    <mat-label>Marginalia</mat-label>
                    <h3>{{book.marginalia}}</h3>

                </div>


                <div class="card">
                    <mat-label>Library</mat-label>
                    <h3>{{book.library}}</h3>
                </div>
                <div class="card">
                    <mat-label>Shelfmark</mat-label>
                    <h3>{{book.cote}}</h3>
                </div>
                <div class="card">
                    <mat-label>Provenance</mat-label>
                    <h3>{{book.provenance}}</h3>
                </div>


                <div class="card">
                    <mat-label>Ferney</mat-label>
                    <h3>{{book.ferney}}</h3>
                </div>

                <div class="card">
                    <mat-label>External resource</mat-label>
                    <h3>{{book.external_resource}}</h3>
                </div>
                
                <div class="card">
                    <mat-label>Pot-Pourri</mat-label>
                    <h3>{{book.pot_pourri}}</h3>
                </div>
                
                <div class="card">
                    <mat-label>User</mat-label>
                    <h3>{{book.email}}</h3>
                </div>

                <div class="card card-note w-100">
                    <mat-label>Digital Voltaire</mat-label>
                        <ul *ngFor="let digital of digitals" >
                            <li><a [href]="transform(digital) " target="_blank">{{digital}}</a></li>
                        </ul>
                </div>

                <div class="card card-note w-100">
                    <mat-label>Classification</mat-label>
                    <mat-chip-list>
                        <mat-chip *ngFor="let classification of classifications" >
                            {{classification.description}}
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div class="card card-note">
                    <mat-label>Notes</mat-label>
                    <h3>{{book.notes}}</h3>
                </div>
            </div>
        </div>


        <button mat-raised-button class="primary" (click)="retunToHome()">
            <mat-icon>arrow_back_ios</mat-icon>Back
        </button>

    </div>
</div>