<div>
    <h2 class="title">Display a book</h2>
    <div class="update-book container  mat-elevation-z8 p-3 rounded">

        <div *ngIf="book">
            <div class="parent-card">
                <div class="card">
                    <mat-label>Title</mat-label>
                    <h3>{{book.title}}</h3>
                </div>

                    <div class="card" *ngFor="let contributor of contributors, let i = index">
                        <mat-label>{{contributor.status}} {{i+1}}</mat-label>
                        <h3>{{contributor.name}}</h3>
                    </div>

                
                <div class=" card">
                    <mat-label>Publisher</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class=" card">
                    <mat-label>Type document</mat-label>
                    <h3>{{book.type_document}}</h3>
                </div>
                <div class=" card">
                    <mat-label>Publication place</mat-label>
                    <h3>{{book.title}}</h3>
                </div>

                <div class=" card">
                    <mat-label>Publication date</mat-label>
                    <h3>{{book.title}}</h3>
                </div>


                <div class="card">
                    <mat-label>Multi Volume</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class="card">
                    <mat-label>Volume</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class="card">
                    <mat-label>Format</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class="card">
                    <mat-label>Source</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class="card">
                    <mat-label>Marginalia</mat-label>
                    <h3>{{book.title}}</h3>

                </div>
                <div class="card">
                    <mat-label>Binding</mat-label>
                    <h3>{{book.title}}</h3>
                </div>


                <div class="card">
                    <mat-label>Library</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class="card">
                    <mat-label>Cote</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class="card">
                    <mat-label>Provenance</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class="card">
                    <mat-label>Ferney</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class="card">
                    <mat-label>Digital Voltaire</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
                <div class="card">
                    <mat-label>External resource</mat-label>
                    <h3>{{book.title}}</h3>
                </div>


                <div class="card card-note">
                    <mat-label>Notes</mat-label>
                    <h3>{{book.title}}</h3>
                </div>
            </div>
        </div>


        <button mat-raised-button color="primary" (click)="retunToHome()">
            <mat-icon>arrow_back_ios</mat-icon>Back Home
        </button>

    </div>
</div>