.title{
    text-align: center;
    color:#002147;
}

mat-label{
    color: #949494;
}

h3,li{
    font-weight: 400;
    color: #002147;
    padding: 0;
    margin: 0;
}

button{
    margin: 5px;
}

.parent-card{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.card{
    padding: 5px;
    margin: 5px;
    width: 19%;
}


.card-note{
    width: 100%;
}

@media (max-width:1000px){
    .card{
        width: 30%;
    }
}

@media (max-width:768px){
    .card{
        width: 47%;
    }
}

@media (max-width:460px){
    .card{
        width: 99%;
    }
}




