<div class="container my-5 mat-elevation-z8 p-3 rounded">
    <h2 class="title">Voltaire's Library</h2>
    <!--<p style="text-align: justify;line-height: 200%">
        Fruit d'une collaboration entre l'ObTIC (Sorbonne Université) et Voltaire Foundation (Oxford University), ce
        projet s’inscrit au croisement des humanités numériques et de la littérature et vise à élaborer une base de
        données et un site web pour les oeuvres de la bibliothèque de Voltaire (environ 5000 documents).
    </p>
    <p>Porteurs:</p>
    <p>Glenn Roe, Sorbonne Université</p>
    <p>Gillian Pink, Oxford University.</p>-->
</div>


<img src="assets/img/logo-obtic-blue.png" alt="" style="max-width: 340px; display:block; margin:auto;">